@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #22252a;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
